@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=Oswald&display=swap");
/* font-family: "Oswald", sans-serif; */

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Merriweather", serif;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}

#gallery img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px;
}